@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}



.btn{
    color: #eee;
    border-radius: 8px;
    background: #222;

    padding: 1rem 4rem;

    transition: 600ms;
}

.btn:hover{
    color: #222;
    background: rgb(154, 149, 149);
}


.presidente{
    width: 10%;
    border: 1px solid black;
    border-radius: 50%;

    position: absolute;
    z-index: 2;

    background: yellow;

    box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
}

.vice{
    width: 20%;
    border: 1px solid black;
    border-radius: 50%;

    margin-top: 155px;
    margin-left: 130px;

    background: green;


    position: relative;
    z-index: 4;

    box-shadow: 10px 10px 190px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 190px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 190px 0px rgba(0,0,0,0.75);
}

.presidente2{
    width: 10%;
    border: 1px solid black;
    border-radius: 50%;

    position: absolute;
    z-index: 2;

    background: red;

    box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
}

.vice2{
    width: 20%;
    border: 1px solid black;
    border-radius: 50%;

    margin-top: 155px;
    margin-left: 130px;

    background: rgb(9, 0, 0);


    position: relative;
    z-index: 4;

    box-shadow: 10px 10px 190px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 190px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 190px 0px rgba(0,0,0,0.75);
}

#cards{
    width: 100vw;
    height: 80vh;

   

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px 0;
}

#card{
    width: 30vw;
    height: 80vh;

    background: rgb(207, 206, 206);

    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    margin-left: 50px;

    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0,0,0, 0.25);

}

.img-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 75px 0;
}

.infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 30px;
}

.vot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vot .btn{
    padding: 2rem 12rem;

    font-size: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
}   