<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylei.css')}}">
    <meta http-equiv="refresh" content="60">
    <title>Inicio</title>
</head>
<body>

    <div id="cards">
        <div id="card">
            <div class="img-c">
                <img class="presidente" src="{{url_for('static', filename='img/Andre.png')}}" alt="Foto do Presidente">
                <img src="{{url_for('static', filename='img/Igor.png')}}" alt="Foto do vice Presidente" class="vice">
            </div>
            <div class="infos">
                    <h1>Número: 76</h1>
                    <br>
                    <h3>André Maciel</h3>
                    <br>
                    <h4>Votos: {{andre}}</h4>
            </div>
        </div>

        <div id="card">
            <div class="img-c">
                <img class="presidente2" src="{{url_for('static', filename='img/lukas.png')}}" alt="Foto do Presidente">
                <img src="{{url_for('static', filename='img/paulo.png')}}" alt="Foto do vice Presidente" class="vice2">
            </div>
            <div class="infos">
                    <h1>Número: 12</h1>
                    <br>
                    <h3>Lukas Amaral</h3>
                    <br>
                    <h4>Votos: {{lukas}}</h4>
            </div>
        </div>
    </div>
</body>
</html>